<div class="navbar">
    <div class="logo-container">
        <a href="/" class="logo">⚽&nbsp;DashDribble</a>
    </div>
    <div class="search-bar-container">
        <input
            type="text"
            class="search-bar"
            placeholder="🔎 Search"
        />
    </div>
    <ul class="nav-links">
        <li><a href="?page=home">Home</a></li>
        <li><a href="?page=about">About</a></li>
        <li><a href="?page=leagues">Leagues</a></li>
        <li><a href="?page=teams">Teams</a></li>
        <li><a href="?page=players">Players</a></li>
    </ul>
</div>
<div class="navbar-spacer"></div>
